# Entornos virtuales
.venv/
venv/
env/

# Archivos de dependencias locales
*.pyc
__pycache__/
*.pyo
*.pyd

# Configuración de IDEs
.vscode/
.idea/

# Archivos temporales
.DS_Store

# Base de datos SQLite
database.sqlite3
db.sqlite3

